header {
    width: 100%;
    height: 75vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.man-baby-pic {
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

@media screen and (max-width: 888px) {
    header {
        height: 45vh;
        justify-content: flex-start;
    }

    .man-baby-pic {
        width: 220px;
        right: 1%;
 
    }

    .header-text {
        width: 200px;
        margin-left: 20px;
    }
}