.contact-us {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 170px;
}

.contact-heading {
    width: 400px;
}

.header-box, .form-box {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


label {
    width: 290px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

#email {
    width: 290px;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding-left: 8px;
    outline: none;
    margin-bottom: 30px;
}

#message {
    width: 290px;
    border: none;
    border-radius: 5px;
    height: 130px;
    resize: none;
    outline:none;
    padding: 8px;
    font-family: "Fira Sans";
}

#message::placeholder {
    color: black;
    font-size: 15px;
    opacity: 1;
  }

.msg-btn {
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    padding: 11px 14px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 0px;
    width: 130px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.form-btn-area {
    width: 290px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
}

@media screen and (max-width: 888px) {
    .contact-us {
        flex-direction: column;
        justify-content: flex-start;
        height: 83vh;
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact-heading {
        width: 350px;
    }

    .header-box, .form-box {
        width: 100vw;
        height: auto;
    }
    
    .form-box {
        margin-top: 30px;
    }

    label {
        width: 320px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }
    
    #email {
        width: 320px;
        height: 42px;
        font-size: 18px;
    }

    #message {
        width: 320px;
        height: 140px;
        font-size: 18px;
    }
    
    #message::placeholder {
        font-size: 18px;

      }
      
    .msg-btn {
        padding: 14px 17px;
        font-size: 14px;
        width: 140px;
    }

    
    .form-btn-area {
    width: 320px;
    }

    
}