.contact-us {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
}

.contact-heading {
    width: 400px;
}

.header-box, .form-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}