.offer {
    width: 100%;
    height: 116vh;
    background-color: var(--gray);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 150px;
    position: relative;
    padding-bottom: 0px;
}

.box-1, .box-2 {
    width: 50%;
    height: 100vh;
}

.offer-heading {
    color: white;
    font-size: 50px;
    width: 380px;
    margin-bottom: 80px;
}

.box-2 p {
    width: 360px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}

.cards {
    position: absolute;
    bottom: -18%;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 140px;
    background-color: transparent
}

@media screen and (max-width: 888px) {
    .offer {
        width: 100%;
        height: 200vh;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px 0px;
    }

    .offer-btn {
        visibility: hidden;
        height: 0px;
    }

    .offer-heading {
        margin-top: 40px;
        font-size: 45px;
        width: 380px;
        margin-bottom: 0px;
        margin-left: 20px;
     
    }

    .box-1, .box-2 {
        width: 100%;
        height: auto;
    }

    .box-2 {
        margin-top: 0px;
    }

    .box-2 p {
        width: 90%;
        font-size: 15px;
        line-height: 26px;
        text-align: left;
        margin-top: 0px;
        margin-left: 20px;
    }
  
    .cards {
        position: unset;
        bottom: unset;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        background-color: var(--gray);
    }
}